{{ define "main" }}

<!-- banner -->
<section class="banner bg-cover" {{ partial `bg-image.html` (dict `Src` .Params.banner.bg_image ) | safeHTMLAttr }}>
  {{ if .Params.banner.image }}
  {{ partial "image.html" (dict "Src" .Params.banner.image "Alt" .Title "Class" "illustration") }}
  {{ end }}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <h1>{{ .Params.banner.title | markdownify }}</h1>
      </div>
      {{ if .Params.banner.image }}
      <div class="col-lg-5 illustration-mobile">
        {{ partial "image.html" (dict "Src" .Params.banner.image "Alt" .Title) }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /banner -->

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto px-0">
        <div class="bg-white shadow block">
          {{ range where site.RegularPages "Section" "in" site.Params.mainSections }}
          {{ .Render "article" }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /blog -->

<!-- cta -->
{{ if .Site.Params.cta.enable }}
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="row shadow bg-white p-5">
          <div class="col-md-4 text-center text-md-left mb-4 mb-lg-0">
            <img src="{{ .Site.Params.cta.image | relURL }}" class="mr-4" alt="cta image">
          </div>
          <div class="col-md-8 text-center text-md-left">
            <h3 class="mt-0">{{ .Site.Params.cta.title | markdownify }}</h3>
            <p>{{ .Site.Params.cta.description | markdownify }}</p>
            {{ if .Site.Params.cta.button.enable }}
            <a href="{{ .Site.Params.cta.button.link | absURL }}"
              class="btn btn-primary">{{ .Site.Params.cta.button.label }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /cta -->

{{ end }}